#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* Mobile Breakpoint */
@media only screen and (min-width: 375px) {
  #main {
    background: url("image/pattern-background-mobile.svg") no-repeat;
    background-size: cover;
  }
}

/* Desktop Breakpoint */
@media only screen and (min-width: 1440px) {
  #main {
    background: url("image/pattern-background-desktop.svg") no-repeat;
    background-size: cover;
  }
}
